<div class='row'>
	<div class='span12'>
		<h1>Nasze banery</h1>
		<p>
			Prosimy o wymianę banerów z innymi stronami związanymi z MOH.
		</p>

		<h2>Baner mały (88x31)</h2>
		<p>
			<%= image_tag '56ks-banner-min.jpg', :alt => 'baner mini' %>
		</p>
		<pre><%= escape_html(<<EOF)
<a href="http://56ks.pl/" traget="_blank">
	<img src="http://56ks.pl/img/56ks-banner-min.jpg" alt="56'ks">
</a>
EOF
%></pre>

		<h2>Baner średni (127x45)</h2>
		<p>
			<%= image_tag '56ks-banner-med.jpg', :alt => 'baner średni' %>
		</p>
		<pre><%= escape_html(<<EOF)
<a href="http://56ks.pl/" traget="_blank">
	<img src="http://56ks.pl/img/56ks-banner-med.jpg" alt="56'ks">
</a>
EOF
%></pre>

		<h2>Baner szeroki (468x60)</h2>
		<p>
			<%= image_tag '56ks-banner-wide.jpg', :alt => 'baner szeroki' %>
		</p>
		<pre><%= escape_html(<<EOF)
<a href="http://56ks.pl/" traget="_blank">
	<img src="http://56ks.pl/img/56ks-banner-wide.jpg" alt="56 Kompania Strzelecka">
</a>
EOF
%></pre>
	</div>
</div>
