<div class='row'>
	<div class='span12'>
		<h1>Nasze banery</h1>
		Prosimy o wymianę banerów z innymi stronami związanymi z MoHA.

		<p>
			<h2>Baner mały (88x31)</h2>
			<p>
				<%= image_tag '56ks-banner-min.jpg' %>
			</p>
<pre><%= escape_html(<<EOF)
<a href="http://ks56.sigquit.net/" traget="_blanc">
	<img src="http://ks56.sigquit.net/img/56ks-banner-min.jpg" alt="56'ks">
</a>
EOF
%></pre>
		</p>
		<p>
			<h2>Baner średni (127x45)</h2>
			<p>
				<%= image_tag '56ks-banner-med.jpg' %>
			</p>
			<pre><%= escape_html(<<EOF)
<a href="http://ks56.sigquit.net/" traget="_blanc">
	<img src="http://ks56.sigquit.net/img/56ks-banner-med.jpg" alt="56'ks">
</a>
EOF
%></pre>
		</p>
		<p>
			<h2>Baner szeroki (468x60)</h2>
			<p>
				<%= image_tag '56ks-banner-wide.jpg' %>
			</p>
			<pre><%= escape_html(<<EOF)
<a href="http://ks56.sigquit.net/" traget="_blanc">
	<img src="http://ks56.sigquit.net/img/56ks-banner-wide.jpg" alt="56 Kompania Strzelecka">
</a>
EOF
%></pre>
		</p>
	</div>
</div>
